<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Check Cucumber 7">
	
  <test thread-count="5" name="Test Cucumber">
    <classes>
      <class name="com.runners.TestNgRunnerCucumber7"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
